---
apiVersion: v1
kind: Namespace
metadata:
  name: loki
  labels:
    managed-by: argocd

---
apiVersion: v1
kind: Namespace
metadata:
  name: promtail
  labels:
    managed-by: argocd

---
apiVersion: v1
kind: Namespace
metadata:
  name: grafana
  labels:
    managed-by: argocd

---
apiVersion: v1
kind: Namespace
metadata:
  name: prometheus
  labels:
    managed-by: argocd