apiVersion: v1
kind: Namespace
metadata:
  name: backend
  labels:
    app-group: um-stack
    managed-by: argocd
---
apiVersion: v1
kind: Namespace
metadata:
  name: frontend
  labels:
    app-group: um-stack
    managed-by: argocd